/*
#1c232e azul escuro
#f2f1ed "branco"
#393781 roxo escuro
#03484c verde agua escuro
#f4bba4 bege


#E07F90 rosinha
#F3A672 laranjinha
#FCEED3 beginho
#A5DBA1 verdinho
#A6D4E4 azulzinho
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    scroll-behavior: smooth;
    
    /*nova fonte-family */
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}


a:hover{
    color: rgb(209, 152, 66);
    transition: 0.18s;
}

ul li, p{
    line-height: 1.5;
}
h1{
    line-height: 3;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 248, 238);
}

h3{
    color: #f2f1ed;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding: 20px;      
}
body{
    background-color: #A6D4E4;
} 

section{
    scroll-margin-top: 120px;
}

header{
    background-color:#f8e6c1 ;
    color: rgba(223, 154, 108, 0.842);
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.logo, .logo a:link,.logo a:visited{
    /* width: 5px;
    height: auto ;
    margin-inline-end: auto; */
    font-size: 40px;
    font-weight: bold;
    color: rgba(223, 154, 108, 0.842);
    text-decoration: none;
}


nav ul{
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

nav ul li{
    margin-left: 20px;
    margin-top: 25px;
    padding: 0.25em;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
}

#inicio{
    margin-top: 90px;
}

.banner{
    background: url(../Img/banner/maibeBanner.webp) no-repeat center/cover;
    height: 10rem;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    color: #f2f1ed;
    font-size: 1.7em;
    text-align: center;
    text-shadow: 0.25rem 0.25rem 0.8em #85d7dd;

}

.bannercontato{
    background: url(../Img/banner/banneDoContato.jpg) no-repeat center/cover;
    height: 10rem;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    color: #f2f1ed;
    font-size: 1.7em;
    text-align: center;
    text-shadow: 0.25rem 0.25rem 0.8em #85d7dd;

}

.centraliza{
    text-align: center;
}

.sobre-container .sobre-esquerda .fonte{
    font-size: 1.14em;
}

#sobre a:link,#sobre a:visited{
    color: #03484c;
    text-decoration: none;
}

#sobre a:hover,#sobre a:active{
    color: #f2f1ed;
    background-color: #03484c;
    padding: 3px;
    text-decoration: none;
}

#sobre{
    padding: 3rem;
    background-color: azure;
    color: #03484c;
}

.sobre-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    max-width: 140rem;
    margin: auto;
}

.sobre-esquerda{
    flex: 1;
    padding: 2rem;
}
.sobre-esquerda h1{
    font-size: 1.8em;
    margin-bottom: 2rem;
    color: #03484c;
}
.sobre-esquerda p{
    font-size: 1.4em;
    line-height: 1.5;
    text-align: justify;
    margin-top: 1rem;
    color: #03484c;
}

.sobre-direita{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    flex: 1;
}


.hex{
    width: 200px;
    border-radius: 300px;
    overflow: hidden;
    background-color: rgb(224, 212, 196);
    position: relative;
}
.hex img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}

/* #ex{
    background: linear-gradient(to bottom, #85d7dd 95%, rgb(241, 241, 202) 100%);
} */

#ex .container, #gal .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    padding: 50px 0;
}

#ex .item{
    background-color: #a6e4c0;
    border: 1px solid #A5DBA1;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#ex .item:hover{
    transform: translateY(-5px);/*para cima  quando passa o mause*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#ex .item:active{
    transform: scale(0.98);/*reduz o tamanho do card ao clicar*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

#ex .item p {
    margin-top: 15px;
    font-size: 1.15em;
    color: #f2f1ed;
}

#ex .imgcard img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 60px 30px;
}

.tabela-container{
    max-width: 1300px;
    margin: auto;
    padding: 20px;  
}

.tabela-container a:link, .tabela-container a:visited{
    color: #03484c;
    text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
  }
  
  td, th {
    background-color: #f1bb96;
    border: 2px solid #dddddd;
    text-align: left;
    padding: 6px;
  }

footer{
    font-weight: bold;
}


/* Faz o footer ficar no rodapé da página de enviado */

body.paginamensagem {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  body.paginamensagem main {
    flex: 1;
  }  
      
  .mensagem{
    margin-top: 10%; 
    background-color: #f8e6c1; 
  }

/* modal-card */
.modal{
    background: #E07F90;
    padding: 20px;
    border-radius: 15px;
    box-shadow: #00f2ff;
    margin: auto;
    text-align: justify;
    color: rgb(250, 242, 231);
} 


.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #688a65;
    color: aliceblue;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover{
    color: aliceblue;
    transform: scale(1.05);
}

/* modal-modal */
.modal{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0e1d4450;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal:target{
    display: flex;
}

.modal-content{
    max-height: 70vh;
    margin-top: 120px;
    overflow-y: auto;
    background-color: #E07F90;
    padding: 30px;
    border-radius: 12px;
    max-width: 600px;
    text-align: justify;
    box-shadow: 0 5px 20px #703f48ab;
}

.modal-content h4{
    margin-top: 2%;
    font-size: 1.3rem;
    margin-bottom: 2%;
    color: rgb(252, 230, 201);
}

.modal-content h3{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.6rem;
    color: rgb(255, 224, 184);
}

.close-btn{
    display: inline-block;
    margin-top: 20 px;
    padding: 8px 16px;
    background: #ce5652;
    color: rgb(252, 255, 240);
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

/* galeria */

#gal{
    /* background: #97c8d8; */
    background: linear-gradient(to top, #97c8d8 83%, #A6D4E4 100%);
}

#gal img { 
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 3px;
    border-radius: 60px 30px;
} 

#gal .item{
    background-color: #a6e4c0;
    border: 1px solid #A5DBA1;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor:pointer;
    margin: 10px;
}

#gal .item:hover{
    transform: translateY(-5px);/*para cima  quando passa o mause*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#gal .item:active{
    transform: scale(0.98);/*reduz o tamanho do card ao clicar*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
}

/* formatação para a area de contato */

#contato{
    margin: 50px;
    border-radius: 20px;
    border-style: double;
    border-color: #03484c;
    border-width: 8px;
    background-color: #A5DBA1;
    color: #291f0c;
}


.formulario-contato {
    border-radius: 12px;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
  }
  
  .grupo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .grupo-form input,
  .grupo-form select,
  .grupo-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    margin-top: 8px;
  }
  
  .grupo-form input[type="checkbox"],
  .grupo-form input[type="radio"] {
    margin-right: 8px;
    margin-top: 0;
  }
  
  .grupo-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="range"] {
    accent-color: #DF8A6C; /* Muda a cor da barra e do botão nas versões modernas */
  }  


@media (max-width: 766px){
    .banner{
        height: 27rem;}

    .modal{
        margin-top: 100px;
    }

    .modal-content{
        max-height: 60vh;
    }

    header .container, .sobre-container{
        flex-direction: column;
        text-align: center;
        scroll-margin-top: 240px;
    }
    
    nav ul{
        margin-top: 10px;
        flex-direction: column;
        padding: 1px;
    }

    nav ul li{
        padding: 0px;
        margin: 0px;
        font-size: 25px;
    }

    .banner{
        height: 550px;
        padding-top: 300px ;
    }
}

@media (max-width: 540px){
    .sobre-container{
        flex-direction: column;
    }

    table {
        overflow-x: auto;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 9%;
    }
      
    td, th {
        background-color: #f1bb96;
        border: 2px solid #dddddd;
        text-align: left;
        padding: 2px;
    }

}

@media (max-width:381px){
    header .container, .sobre-container{
        flex-direction: column;
        text-align: center;
        scroll-margin-top: 240px;
    }
    
    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }

    .banner{
        height: 50rem;
    }

}

@media (max-height: 490px){
    .modal-content{
        max-height: 50vh;
        margin-top: auto+20px;
    }
}