/*
#1c232e azul escuro
#f2f1ed "branco"
#393781 roxo escuro
#03484c verde agua escuro
#f4bba4 bege
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;      
}
body{
    background-color: #1c3166;
} 

header{
    background-color: #71dbe0;
    color: #40ffdc;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 2em;
    font-weight: bold;
    margin-inline-end: auto;
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

nav ul li{
    margin-left: 5%;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
}

#inicio{
    margin-top: 8rem;
}

.banner{
    background: url(../Img/Banner.webp) no-repeat center/cover;
    height: 10rem;
    display: flex;
    margin-top: 90em;
    align-items: center;
    justify-content: center;
    color: #f2f1ed;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0.25rem 0.25rem 0.8em #85d7dd;

}

a:hover{
    color: #127f85;
}

ul li, p{
    line-height: 1.5;
}
h1{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

footer{
    font-weight: bold;
}



@media (max-width: 766px){
    .banner{
        height: 27rem;}
}

@media (max-width:381px){
    header .container{
        flex-direction: column;
        text-align: center;
    }

    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }
    
    .banner{
        height: 50rem;
    }
}
